.title{
    h1{
        margin: 0px 10px;
    }
    img{
        width: 64px;
        height: 64px;
    }
}

.separator{
    width: 100%;
    height: 2px;
    background: rgb(110, 110, 110);
    margin: 14px 0px;
}